{{define "footer"}}
<div class="bg-light">
    <div class="container">
        <footer class="footer">
            <div class="text-center">Copyright &copy; Instaphoto 2022</div>
        </footer>
    </div>
</div>
{{end}}